<div>
    <div class="card mx-auto mt-2" *ngIf="pet">
        <h5 class="card-header card-title text-light">
            {{pet.name}}
        </h5>
        <img class="pet-image" src={{pet.image}} alt={{pet.species}}/>
        <div class="card-body pt-1">
            <p>Species: {{pet.species}} Sex: {{pet.sex}}</p>
            <p>{{pet.details}}</p>
            <p>Price: ${{pet.price}}</p>
            <p>Status: {{pet.in_stock ? "In stock" : "Sold!"}}</p>
            <button class="btn btn-secondary" (click)="back()">Back</button>
        </div>
    </div>
</div>