<div>
    <table class="table table-bordered table-hover table-light mx-auto mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Sex</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let pet of petlist" routerLink="/pet/{{pet._id}}">
                <td>{{pet.name}}</td>
                <td>{{pet.species}}</td>
                <td>{{pet.sex}}</td>
                <td>{{pet.in_stock}}</td>
            </tr>
        </tbody>
    </table>
</div>
