<div>
    <section class="container bg-light p-3">
        <h1>Welcome to The Petting Zoo!</h1>
        <div class="row">
            <div class="col-sm-4">
                <app-pet-carousel></app-pet-carousel>
            </div>
            <div class="col-sm-8">
                <p>The Petting Zoo is the world's premier pet store, featuring everything from aquarium fish to zebras.
                    Cats, dogs, hamsters, horses, tarantulas, tigers--any animal you can think of we supply! Browse
                    our catalogue of pets both common and exotic to find the perfect pet for you!
                </p>
                <ul>
                    <li>
                        <a routerLink="/pets">Check out Pets</a>
                    </li>
                    <li>
                        <a routerLink="/petlist">Browse Catalogue</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>